html{
    text-align:center;
    
    
}

h1,h2{
    font-family: "Work Sans", sans-serif;
}
.andrea-img{
    width: 300px;
    border-radius: 50%;
    

}
ul li span,
p span{
    font-weight: bold;
}
li{
    list-style-type: none;
}
p{
    margin-left:25%; 
    max-width: 50%;
}